*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
}
form{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
form div,h1{
    display: flex;
    justify-content: center;
}
.email input, .password input{
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 9px 20px;
}
input#email{
    margin-top: -100px;
}
#login{
    position: relative;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    background-color: purple;
    color: white;
    cursor: pointer;
}
#login:disabled{
    cursor: not-allowed;
    color: black;
    background-color:gray;
}
#checkbox{
    position: absolute;
    left:-700px;
}
.check,label{
    height: 15px;
    margin-top: 20px;
}
label{
    position: relative;
    margin-left: 10px;
}
